@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="utf-8" />
<title>Plarium ASP.NET SQL Test App</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/libs/curl.js")
@Scripts.Render("~/Scripts/app/run.js")
<meta name="viewport" content="width=device-width" />
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
</head>
<body>

</body>
</html>
